<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="asia.lhweb.mapper.MonsterMapper">
    <!--
    如何把传入的Integer age在test表达式取出来呢？ 传统的写法是错的
    test="#{age} >=0"             X
    使用@Param注解  test="age >=0" √
    -->
    <select id="findMonsterByAge" resultType="monster">
        select * from monster where 1=1
        <if test="agex >=0">
            and age>#{age}
        </if>
    </select>

    <!--
    入参是一个对象 ,test表达式中直接使用属性名即可
    where 元素只会在子元素返回任何内容的情况下才插入 “WHERE” 子句。而且，若子句的开头为 “AND” 或 “OR”，where 元素也会将它们去除。
    -->
    <select id="findMonsterByldAndName" resultType="asia.lhweb.entity.Monster">
        select * from `monster`
        <where>
            <if test="id>=0">
                and  `id`>#{id}
            </if>
            <if test="name!=null and name!=''">
                and name =#{name}
            </if>
        </where>


    </select>

    <select id="findMonsterByldAndName_choose" parameterType="map" resultType="asia.lhweb.entity.Monster">
            select * from `monster`
            <choose>
                <when test="name!=null and name!=''">
                    where `name` =#{name}
                </when>
                <when test="id>0">
                    where `id`=#{id}
                </when>
                <otherwise>
                    where `salary`>100
                </otherwise>
            </choose>
    </select>

    <!--
    #         SELECT * FROM^monster` WHERE id IN(10,12,14)
    1 入参Map中 key:ids value:是一个集合
    2 collection="ids" 对应你的入参map的key-ids
    3 item="id" 在遍历ids集合时，每次取出的值，对应的变量id
    4 open="("  separator="," close=")  对应(10,12,14)
    -->
    <select id="findMonsterByld_forEach" parameterType="map" resultType="asia.lhweb.entity.Monster">
        SELECT * FROM `monster`
            <if test="ids!=null and id!=''">
                <where>
                    id in
                    <foreach collection="ids" item="id" open="("  separator="," close=")">
                                #{id}
                    </foreach>
                </where>

            </if>
    </select>
    <select id="findMonsterByName_Trim" resultType="asia.lhweb.entity.Monster">

    </select>


</mapper>