<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="asia.lhweb.mapper.MonsterMapper">
    <!--
    id 方法名
    parameterType 参数类型
    #{age}, #{birthday}, #{email}, #{gender}, #{name}, #{salary} 从传入的monster对象来的
    -->
    <insert id="addMonster" parameterType="asia.lhweb.entity.Monster"
    useGeneratedKeys="true" keyProperty="id" >
        insert into `monster` (age, birthday, email, gender, name, salary)
        VALUES (#{age}, #{birthday}, #{email}, #{gender}, #{name}, #{salary})

    </insert>

    <update id="updateMonster" parameterType="asia.lhweb.entity.Monster"
            useGeneratedKeys="true" keyProperty="id" >
            update monster
            set `age`=#{age}, `birthday`=#{birthday}, `email`=#{email},`gender`=#{gender},
                `name`=#{name}, `salary`=#{salary}
            where id=#{id}
    </update>

    <delete id="delMonster" parameterType="Integer">
          delete from `monster` where id=#{id}
    </delete>
    <select id="findAllMonster" resultType="monster">
        select * from `monster`
    </select>
</mapper>